.idea
*.iml
.vscode
.cursor
.env
.env.test
.venv
.DS_Store
.vscode
.ruff_cache

# Python build artifacts
*.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd
# Do not ignore mo files for now: they are a pain to generate on Windows on CI, it is easier to just commit the for now.
#*.mo
build/
dist/
