name: Build GUI package and create release

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '1'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install gettext
        run: sudo apt-get install -y gettext
      - name: Make dev
        run: make dev
      - name: Make build
        run: make build
      - name: Persist artifacts
        uses: actions/upload-artifact@v4
        with:
          name: main
          path: packages/pt5-gui/dist/
  github_release:
    name: Create GitHub release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Obtain artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist/
      - name: Generate changelog
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag: ${{ github.ref_name }}
          writeToFile: false
          includeRefIssues: false
          useGitmojis: false
      - name: Create GitHub release
        uses: "softprops/action-gh-release@v2"
        with:
          body: ${{ steps.changelog.outputs.changes }}
          token: "${{ secrets.GITHUB_TOKEN }}"
          draft: false
          prerelease: false
          make_latest: true
          files: |
            dist/**/*.*
